<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>WPSD - prototype</title>
</head>
<body>
    <div class="min-h-screen flex flex-col">
        <!-- Header with nav -->
        <header class="border-b-2 p-4">
            <div class="flex justify-between items-center">
                <h1 class="text-2xl font-bold">WPSD - prototype</h1>
                <!-- navigation items here -->
            </div>
        </header>
        
        <!-- main -->
        <main class="flex flex-1">
            <div class="flex-grow p-8 w-5/12 ">
                <!-- file search and list container -->
                <div>
                    <div class="mb-4">
                        <input class="border-2 w-full p-2 mb-4" placeholder="File filter/search" type="search">
                        
                    </div>
                    <p class="font-semibold">Files On Device</p>
                    <div class="pt-4 border-2 p-4 h-64">
                        <ul class="list-disc space-y-2 pl-4">
                            <li>File 1</li>
                            <li>File 2</li>
                            <!-- More files -->
                        </ul>
                    </div>
                </div>
                
                <!-- Upload and Download buttons -->
                <div class="flex justify-left mt-4">
                    <button class="border-2 p-2 mr-4 hover:bg-blue-300">Upload</button>
                    <button class="border-2 p-2 mx-4 hover:bg-blue-300">Download</button>
                </div>
            </div>

            <!-- File details column -->
            <div class="p-4 border-2 w-2/3 ">
                File details here
            </div>
            <div class="w-1/3 p-4 border-2">
                Device Info
            </div>
        </main>
    </div>
</body>
</html>
