<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/theme.css')}}">
    <title>SkyDrive</title>
    <style>
        body {background-color: #0d1118;}
    </style>
</head>

<body>
    <div class="min-h-screen flex flex-col">
        <header class="border-b-2 p-4">
            <div class="flex justify-between items-center">
                <h1 class="text-2xl font-bold">SkyDrive</h1>
                <a class="text-xl font-bold pr-4" href="/settings">Settings</a>
            </div>
        </header>
        <div class="flex-container flex-item">
            <div class="p-8 w-full md:flex-1">

                

                <div class="mb-4">
                    <input class="border-2 w-full p-2 mb-4" placeholder="File filter/search" type="search">
                    
                </div>
                <div class="flex flex-col w-full">


                    <p class="font-semibold mb-4">Files On Device</p>
                    <button id="backButton" class=" p-2 mb-2" style="width: fit-content;display: none;">
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" fill="none">
                            <path d="M6 12H18M6 12L11 7M6 12L11 17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            
                        </svg>
                        
                    </button>
                    <!-- Scrollable table body -->
                    <div class="scrollable-table-body">
                        <table class="w-full text-left table-fixed">
                            <thead>
                                <tr id="tableheader-head">
                                    <th class="px-4 py-2 w-2"><input type="checkbox"
                                            class="filelist-checkbox-check-all h-4" id="filelist-check-all"></th>
                                    
                                    <th class="py-2 w-1/2">Name</th>
                                    <th class="py-2 w-1/6">File Size</th>
                                    <th class="py-2 w-1/4">Last Modified</th>
                                </tr>
                            </thead>
                            <tbody id="fileList" class="divide-y divide-gray-200">
                                <!-- files from flaskt -->
                            </tbody>
                        </table>
                    </div>

                </div>
                <form method="post" enctype=multipart/form-data id="file-upload-form">
                    <div class="py-4">
                                             
                        <label id="upload-files-label" class="block mb-2 text-sm font-medium" for="multiple_files">
                            Upload file(s)
                        </label>
                            <div id="upload-progress-container" style="display: none; width: 100%; background-color: #333;">
                                <div id="upload-progress-bar" style="height: 24px; background-color: #328f36; width: 0%;white-space: pre;"></div>
                                
                            </div>    
                        <input
                            class="block w-full p-2 text-sm border border-gray-300 rounded-lg cursor-pointer  focus:outline-none"
                            id="multiple_files" type="file" name="file" multiple>
                        <button class="border-2 p-2 mt-2 mr-4" id="uploadButton"
                            type="submit" name="upload-files" value="Upload Files">Upload Files To Device</button>
                    </div>
                </form>
                <form method="post" enctype=multipart/form-data id="file-upload-form"
                    class="multi-files-options-section">
                    <div class="py-4">

                        <label class="selected-files-label block mb-2 text-sm font-medium"
                            for="multiple_files">
                            Selected file(s):
                        </label>

                        <a id="downloadButtonMulti" class="border-2 p-2 mt-2 mr-4 bg-gray-50 hover:bg-blue-300"
                            download>
                            Download Selected Files
                        </a>

                        <button id="deleteButtonMulti" class="border-2 p-2 mt-2 bg-gray-50 hover:bg-blue-400">
                            Delete Selected Files
                        </button>


                    </div>
                </form>
            </div>

            <div class="file-details-section p-4 w-full border-l md:flex-1">
                <h3 class='font-bold'>File Details</h3>
                <br>
                <div id="file-preview-box" class="flex justify-center items-center overflow-hidden h-96 ">
                    <iframe id="file-preview-iframe" class="flex justify-center items-center " width="100%" height="100%" src="" ></iframe>

                </div>
                <div class="file-info">
                    <!-- File details will be inserted here -->
                </div>
                

                <div class="file-options-buttons">

                    <a id="downloadButton" class="border-2 p-2 mt-2 mr-4 bg-gray-50 hover:bg-blue-300" download>Download
                        File</a>

                    <button id="deleteButton" class="border-2 p-2 mt-2 bg-gray-50 hover:bg-red">Delete File</button>
                </div>

                
            </div>

           
        </div>
    </div>

    <script>
        var selectedFiles = []; //global array of selected files
        var individualFile = ""; //for single file selection
        let currentPath = ''; //current directory path

        function getFileDetails(inode, name, fullname) {
            const path = encodeURIComponent(currentPath);
            console.log("file details path: " + path)
            fetch(`/get-file-details?inode=${inode}&name=${name}&fullname=${fullname}&path=${encodeURIComponent(path)}`)
                .then(response => response.json())
                .then(fileDetails => {
                    if(fileDetails.is_dir){
                        currentPath = fileDetails.path; // Only update if it's a directory
                        loadFileList('',fileDetails.path)
                    }
                    
                    updateFileDetailsPreview(fileDetails,path);
                })
                .catch(error => {
                    console.error('Error fetching file details:', error);
                });
        }


        function updateFileDetailsPreview(fileDetails,path) {
            console.log(fileDetails);

            // fix the bug here!!!
            
            
            if(fileDetails.is_dir){
                
                loadFileList('',fileDetails.path)
            }

            
            const fileDetailsInfo = document.querySelector('.file-details-section .file-info');
            fileDetailsInfo.innerHTML = `
            <p>Filename: ${fileDetails.filename}</p>
            <p>Filetype: ${fileDetails.filetype}</p>
            <p>Size: ${fileDetails.size}</p>
            <p>Last Modified: ${fileDetails.last_modified}</p>
            `;
            
    
            previewFile(fileDetails.fileID,fileDetails,path);
            const optionsButtons = document.querySelector('.file-details-section .file-options-buttons');
            optionsButtons.style.display = 'block';

            const downloadLink = document.querySelector('.file-details-section #downloadButton');
            downloadLink.href = `/download/${fileDetails.filename}${fileDetails.filetype}`;
        }

        //delete multiple files
        document.getElementById('deleteButtonMulti').addEventListener('click', function (event) {
            event.preventDefault();
            console.log("Delete")

            const payload = { files: selectedFiles.map(file => file.fullname) };

            console.log(typeof (payload))

            //loop through and call a delete request on each file
            for (file of payload.files) {
                fetch(`/delete/${file}`, { method: 'DELETE' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {

                            const fileInfo = document.querySelector('.file-info');
                            const fileInfoButtons = document.querySelector('.file-details-section .file-options-buttons');
                            fileInfo.style.display = 'none';
                            fileInfoButtons.style.display = 'none';
                        } else {
                            alert('Error deleting file: ' + data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Error deleting file');
                    });
            }

            loadFileList();
            alert('Files deleted successfully!');
        });

        //download multiple files, prob better than sending a spam of requests
        document.getElementById('downloadButtonMulti').addEventListener('click', function (event) {
            event.preventDefault();
            const payload = { files: selectedFiles.map(file => file.fullname) };
            console.log(payload)
            console.log(selectedFiles)
            fetch('/download-multi/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(payload),
            })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    a.download = 'downloaded_files.zip'; 
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                    console.log("file downloaded")
                    fetch('/download-multi-cleanup/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(payload),
                    })
                })
                .catch(error => console.error('Error downloading files:', error));
        });




        //delete single file
        document.getElementById('deleteButton').addEventListener('click', function () {
            const fileDetails = individualFile;
            console.log("Delete")
            console.log(fileDetails)
            fetch(`/delete/${fileDetails.fullname}`, { method: 'DELETE' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('File deleted successfully');
                        loadFileList();
                        const fileInfo = document.querySelector('.file-info');
                        const fileInfoButtons = document.querySelector('.file-details-section .file-options-buttons');
                        fileInfo.style.display = 'none';
                        fileInfoButtons.style.display = 'none';
                    } else {
                        alert('Error deleting file: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error deleting file');
                });
        });



        function updateSingleSelect(row) {
            console.log(row);
            const fileName = row.querySelector(".file-name-col")?.textContent;
            const fileNameFull = row.querySelector(".file-name-col")?.title;
            const fileSize = row.querySelector(".file-size-col")?.textContent;
            const fileLastMod = row.querySelector(".file-moddate-col")?.textContent;
            const fileInode = row.dataset.inode;
            const filePath = row.dataset.path;
            const fileDetails = { inode: fileInode, name: fileName, fullname: fileNameFull, size: fileSize, lastModified: fileLastMod, path: currentPath };
            individualFile = fileDetails;
            console.log(individualFile);
        }

        function updateSelectedFiles(row, isChecked) {
            const fileName = row.querySelector(".file-name-col")?.textContent;
            const fileSize = row.querySelector(".file-size-col")?.textContent;
            const fileLastMod = row.querySelector(".file-moddate-col")?.textContent;
            const fileNameFull = row.querySelector(".file-name-col")?.title;
            const fileInode = row.dataset.inode;

            const fileDetails = { inode: fileInode, name: fileName, fullname: fileNameFull, size: fileSize, lastModified: fileLastMod };

            if (isChecked) {


                if (!selectedFiles.includes(fileDetails)) {
                    selectedFiles.push(fileDetails);
                }

            } else {
                selectedFiles = selectedFiles.filter(file => file.inode !== fileInode);
            }

            //hide/show the selected files options if they are selected
            if (selectedFiles.length > 0) {
                document.querySelector(".multi-files-options-section").style.display = 'block';
            } else {
                document.querySelector(".multi-files-options-section").style.display = 'none';
            }

            const selectedFilesLabel = document.querySelector(".selected-files-label");
            selectedFilesLabel.textContent = `Selected file${selectedFiles.length > 1 ? "s: " : ":  "}${selectedFiles.length}`;
        }

        function handleCheckboxChange(checkbox) {
            const row = checkbox.closest('tr');
            const isChecked = checkbox.checked;
            row.classList.toggle('selected', isChecked);
            updateSelectedFiles(row, isChecked);
        }

        //file searchterm
        document.querySelector('[placeholder="File filter/search"]').addEventListener('input', function(e) {
            const searchTerm = this.value.toLowerCase();
            loadFileList(searchTerm);
        });
        

        function loadFileList(searchTerm = '', newPath = '') {
            console.log(newPath)
            if (newPath !== '') currentPath = newPath;
            console.log("current path: " + currentPath)
            const pathToLoad = newPath !== '' ? newPath : currentPath;

            //only show the back button when nessecary
            const pathDepth = currentPath.split('/').filter(Boolean).length;
            if(pathDepth > 0){
                document.getElementById('backButton').style.display = 'block';
            }else{
                document.getElementById('backButton').style.display = 'none';
            }


            fetch(`/files?path=${encodeURIComponent(pathToLoad)}`)
                .then(response => response.json())
                .then(files => {
                    const fileListElement = document.getElementById('fileList');
                    fileListElement.innerHTML = '';
                    
                    const filteredFiles = files.filter(file => file.name.toLowerCase().includes(searchTerm));
                    
                    //sort to bring directories to the top and put reg files at the bottom
                    filteredFiles.sort((a, b) => {
                    if (a.is_directory && !b.is_directory) {
                        return -1; //a  is a dir so its before b
                    } else if (!a.is_directory && b.is_directory) {
                        return 1; // b  isnt a dir so its after b
                    } else {
                        return 0; // keep original order
                    }
                    });


                    console.log(filteredFiles)
                    filteredFiles.forEach(file => {
                        const row = document.createElement('tr');
                        row.dataset.inode = file.inode;
                        
                        if(file.is_directory){
                            row.innerHTML = `
                                <th class="px-4 py-2 w-2 filelist-checkbox folder">
                                    <svg class="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill=#a1a1ff viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M5 4a2 2 0 0 0-2 2v1h10.968l-1.9-2.28A2 2 0 0 0 10.532 4H5ZM3 19V9h18v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm11.707-7.707a1 1 0 0 0-1.414 1.414l.293.293H8a1 1 0 1 0 0 2h5.586l-.293.293a1 1 0 0 0 1.414 1.414l2-2a1 1 0 0 0 0-1.414l-2-2Z" clip-rule="evenodd"/>
                                        </svg>
                                </th>
                                <td class="file-name-col text-nowrap text-left py-2 text-clip overflow-hidden truncate ... w-1/2" title="${file.name}">${file.name.length > 32 ? file.name.substring(0,29) + "..." : file.name}</td>
                                <td class="file-size-col py-2 w-1/6">${file.size}</td>
                                <td class="file-moddate-col py-2 w-1/4">${file.last_modified}</td>
                            `;
                        }else{
                            row.innerHTML = `
                                <th class="px-4 py-2 w-2"><input type="checkbox" class="filelist-checkbox h-4"></th>
                                <td class="file-name-col text-nowrap text-left py-2 text-clip overflow-hidden truncate ... w-1/2" title="${file.name}">${file.name.length > 32 ? file.name.substring(0,29) + "..." : file.name}</td>
                                <td class="file-size-col py-2 w-1/6">${file.size}</td>
                                <td class="file-moddate-col py-2 w-1/4">${file.last_modified}</td>
                            `;
                        }

                        fileListElement.appendChild(row);
                        if (file.is_directory) {
                            row.addEventListener('click', () => {
                                const dirPath = `${currentPath}/${file.name}`;
                                console.log('Directory clicked, new path:', dirPath); 
                                loadFileList('', dirPath);
                            });
                        }

                        row.querySelector('.filelist-checkbox').addEventListener('change', function () {
                            handleCheckboxChange(this);
                        });
                    });
                });
        }

        //file preview func
        function previewFile(fileId,fileDetails,path) {

            const fileType = fileDetails.filetype.toLowerCase();
            const filePreviewIframe = document.getElementById('file-preview-iframe');
            console.log(fileDetails)
            console.log(fileId)
            console.log(path)
            //the URL to the backend route that serves the file preview
            const filePreviewUrl = `/preview-file?name=${fileId}&path=${decodeURIComponent(path)}`;
            // Set the iframe source to the file preview URL

            filePreviewIframe.src = filePreviewUrl;
            
            
        }


        //adjust sizing of preview content upon iframe loads
        document.getElementById('file-preview-iframe').onload = function() {
            //get iframe
            const iframe = document.getElementById('file-preview-iframe');
            try {
                
                var iframeContent = iframe.contentDocument || iframe.contentWindow.document;
                //add css
                iframeContent.body.style.margin = "0";
                iframeContent.body.style.padding = "0";
                iframeContent.body.style.display = "flex";
                iframeContent.body.style.justifyContent = "center";
                iframeContent.body.style.alignItems = "center";
                
                //add styling to images in the iframe so they arent zoomed in
                var imgs = iframeContent.getElementsByTagName('img');
                for (var i = 0; i < imgs.length; i++) {
                    imgs[i].style.maxWidth = "100%";
                    imgs[i].style.maxHeight = "100%";
                    imgs[i].style.objectFit = "contain";
                }
            } catch (e) {
                console.error("Error adjusting iframe content: ", e);
            }
        };
  
        function goBackUpDir() {
            console.log('go back. Current path:', currentPath);
            const pathArray = currentPath.split('/').filter(Boolean);

            //if at the root
            if (pathArray.length === 0) {
                console.warn('Already at the root directory. Cannot go back further.');
                alert('You are at the root directory. Cannot go back further.');
                return;
            }

            //Navigate back up
            pathArray.pop();
            const newPath = '/' + pathArray.join('/');
            console.log('new path after going back:', newPath);

            //loading the new path
            try {
                loadFileList('', newPath);
                currentPath = newPath; // Update current path only after successful load

            } catch (error) {
                console.error('Error loading the new path:', newPath, error);
                alert('Failed to load the previous directory. Please try again.');
            }
        }
        //file back button
        document.getElementById('backButton').addEventListener('click', goBackUpDir);



        //on page load
        window.onload = function () {
            loadFileList(); // Initial file list load

            document.getElementById('filelist-check-all').addEventListener('change', function () {
                const isChecked = this.checked;
                const checkboxes = document.querySelectorAll('.filelist-checkbox');

                //clear out selected bc we will add new ones
                selectedFiles = [];
                checkboxes.forEach(checkbox => {
                    checkbox.checked = isChecked;
                    handleCheckboxChange(checkbox);
                });
            });

            document.getElementById('fileList').addEventListener('click', function (e) {
                const targetRow = e.target.closest('tr');
                if (targetRow && !e.target.classList.contains('filelist-checkbox')) {
                    this.querySelectorAll('tr').forEach(row => row.classList.remove('selected-single'));
                    targetRow.classList.add('selected-single');
                    updateSingleSelect(targetRow);
                    console.log(individualFile)
                    console.log(individualFile.fileNameFull)
                    
                    getFileDetails(individualFile.inode, individualFile.name, individualFile.fullname,individualFile.path);

                }
            });


            //send a post request to upload files
            document.getElementById('uploadButton').addEventListener('click', function (event) {
                event.preventDefault();
                var formData = new FormData(document.getElementById('file-upload-form'));
                
                //progress bar
                document.getElementById('upload-files-label').style.display = 'none';
                document.getElementById('upload-progress-container').style.display = 'block';
                
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/upload', true);

                //time of upload start
                var uploadStartTime = new Date().getTime();


                xhr.upload.onprogress = function(e) {
                    
                    if (e.lengthComputable) {

                        var currentTime = new Date().getTime(); 
                        var timeDelta = (currentTime - uploadStartTime) / 1000; //delta t in seconds
                        var speed = e.loaded / timeDelta; // Calculate the upload speed
                        
                        var percentage = (e.loaded / e.total) * 100;//percent downloaded


                        document.getElementById('upload-progress-bar').style.width = percentage + '%';
                        
                        
                        //Format upload speed with the proper units
                        var speedText;
                        if(speed > 1024 * 1024) {
                            speedText = (speed / (1024 * 1024)).toFixed(2) + ' MB/s';
                        }else if (speed > 1024) {
                            speedText = (speed / 1024).toFixed(2) + ' KB/s';
                        }else{
                            speedText = speed.toFixed(2) + ' B/s';
                        }

                        document.getElementById('upload-progress-bar').innerText = ' Upload progress: ' + Math.round(percentage).toString().padStart(4) + '% (' + speedText + ')';
                    }
                };

                xhr.onload = function() {
                    if (xhr.status === 200) {
                        // Success
                        console.log(JSON.parse(xhr.responseText));
                        document.getElementById('upload-progress-container').style.display = 'none'; // Hide progress bar and show label
                        document.getElementById('upload-files-label').style.display = 'block';
                        loadFileList(); // Reload the file list
                    } else {
                        // Error
                        console.error('Upload Error:', xhr.responseText);
                    }
                };

                xhr.onerror = function() {
                    console.error('Upload failed.');
                };

                xhr.send(formData);
                            
                            
                            

            });
            
        };
    </script>
</body>

</html>