<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/theme.css')}}">
    <title>SkyDrive // Settings</title>
    <style>
        
        body {background-color: #0d1118;}
    
        
        
    </style>
    
    

</head>

<body>
    
    <div class="min-h-screen flex flex-col">
        <header class="border-b-2 p-4">
            <div class="flex justify-between items-center">
                <a class="text-2xl font-bold" href="/">SkyDrive</a>
                <div class="flex items-center space-x-4">
                    <p class="nav-link text-xl font-bold pl-4 pr-4" id="bat-info-svg" title="Battery Charge">
                        <p class="nav-link text-xs" id="batt-charge-percent">
                        </p>
                    </p>
                    <a class="nav-link text-xl font-bold  mx-4 rounded flex items-center" title="SkyDrive Home" href="/">
                        <svg class="home-icon github-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16" >
                            <path fill="white" d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                            <path fill="white" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>

                        </svg>
                    </a>
                    <p class="nav-link pr-4">&nbsp;</p>
                    <a class="nav-link text-xl font-bold pr-4 mx-4 rounded flex items-center" href="https://github.com/tlstommy/skydrive" title="Github Repo">
                        <svg class="github-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                        </svg>
                    </a>

                </div>

            </div>
        </header>
        <div class="flex-container flex-item">
            <div class="p-8 w-full md:flex-1">

                <h3 class='text-xl font-bold'>Settings</h3>
                <hr>
                <form method="post" enctype=multipart/form-data id="settings-form">
                    
                    <div class='w-1/2'>
                        <b>Power</b>
                        <hr>
                        <div>
                            <button class="border-2 p-2 mt-2 mr-4" id="powerButtonShutdown" type="submit" name="settings-power-shutdown" value="shutdown">
                                Shutdown Device
                            </button>
                            <button class="border-2 p-2 mt-2 mr-4" id="powerButtonRestart" type="submit" name="settings-power-restart" value="restart">
                                Restart Device
                            </button>
                        </div>  
                    </div>
                    <br>
                    <div class='w-1/2'>
                        <b>General</b>
                        <hr>
                        <div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" id="pcie_toggle_switch" name="pcie" value="true" {{ useGen3Mode }}>
                                    <span class="slider round"></span>
                                </label>
                                <label for="pcie_toggle_switch" class="form-check-label">Use Experimental PCIe GEN-3 mode. (requires restart)</label>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" id="use_password_toggle_switch" name="password_switch" value="true" {{ requirePasswordOnLogin }}>
                                    <span class="slider round"></span>
                                </label>
                                <label for="use_password_toggle_switch" class="form-check-label">Require Password to use. (requires restart)</label>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" id="network_mode_toggle_switch" name="mode_switch" value="true" {{ useAPMode }}>
                                    <span class="slider round"></span>
                                </label>
                                <label for="network_mode_toggle_switch" class="form-check-label">Enable AP Mode? (requires restart)</label>
                            </div>
                            
                            
                        </div>
                        <br> 
                        <div>
                           
                            <table class="table-stat">
                                <thead>
                                    <tr>
                                        <th>System Info</th>
                                        <th></th>
                        
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    <tr>
                                        <td>CPU Temperature</td>
                                        <td>{{ cpuTemp }} &#176; C</td>
                                    </tr>
                                    <tr>
                                        <td>GPU Temperature</td>
                                        <td>{{ gpuTemp }} &#176; C</td>
                                    </tr>
                                    <tr>
                                        <td>SSD Storage Space</td>
                                        <td>{{ usedBytes }} / {{ totalBytes }}  ({{ usagePercent }}%)</td>
                                    </tr>
                                    <tr>
                                        <td>Battery Capacity</td>
                                        <td>{{ batCap }} %</td>
                                    </tr>
                                    <tr>
                                        <td>Battery Voltage</td>
                                        <td>{{ batVolt }} Volts</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                    
                </form>
                
            </div>

            <div class="file-details-section p-8 w-full border-l md:flex-1">
                <h2 class='text-xl font-bold'>Help</h3>
                <hr style="margin-right: 20%;">
                <div style="margin-right: 25%;">
                    <p>
                        SkyDrive is a portable wireless storage device, that aims to meet the evolving data storage and accessibility needs of users in todays
                        digital world. 
                        SkyDrive offers a convenient, secure, and reliable solution for data management and accessibility for professionals, students, individuals or anyone on the go!
                        
                        
                    </p>
                </div>
                
                <br>

                <b>SkyDrive network share (SMB)</b>
                <hr style="margin-right: 20%;">
                <div style="margin-right: 25%;">
                    <p>
                        To connect to your Skydrive over SMB, map the drive at '<b>\\skydrive\skydrive-smb</b>' and login with the user '<b>pi</b>' and your Skydrive password.
                        
                        
                    </p>
                </div>

                <br>
                <b>AP (Access-point) Mode</b>
                <hr style="margin-right: 20%;">
                <div style="margin-right: 25%;">
                    <p>
                        When AP Mode is enabled from the menu to the left, Skydrive will disconnect from its currently connected wifi network and, upon restart, begin using the Raspberry Pi's onboard antennas to broadcast a network over the SSID '<b>SkyDrive</b>'. 
                        <br><br>
                        This network can be connected to by using the password that was specified during setup the same way it does work on network.
                        <br><br>
                        To disable AP mode, simply toggle it off from the settings menu.
                        
                        
                    </p>
                </div>

                <br>
                <b>Issues & Suggestions</b>
                <hr style="margin-right: 20%;">
                <div style="margin-right: 25%;">
                    <p>
                        If you encounter any issues or have any suggestions on how to improve SkyDrive, please submit them through the GitHub Issues page, <a href="https://github.com/tlstommy/skydrive/issues">here</a>.<br><br>Your feedback is greatly appreciated!
                        
                    </p>
                </div>

                
            </div>

           
        </div>
    </div>

    <script>

        //for nav
        const batterySvgs = [
            //full
            `<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-battery-full" viewBox="0 0 16 16">
                <path d="M2 6h10v4H2z"/>
                <path d="M2 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm10 1a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1zm4 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8"/>
            </svg>`,
            //half
            `<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-battery-half" viewBox="0 0 16 16">
                <path d="M2 6h5v4H2z"/>
                <path d="M2 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm10 1a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1zm4 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8"/>
            </svg>`,
            //low
            `<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-battery" viewBox="0 0 16 16">
                <path d="M0 6a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1zm14 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8"/>
            </svg>`,
        ]

        function updateBatteryInfo() {

            fetch('/get_bat_info', {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {

                var capacity = data['capacity']; 
                var batIconIndex = 0

                if(parseInt(capacity) >= 60){
                    batIconIndex = 0;
                }else if(parseInt(capacity) < 60 && parseInt(capacity) > 20){
                    batIconIndex = 1;
                }else{
                    batIconIndex = 2;
                }

    
                const batInfoLink = document.getElementById('bat-info-svg'); 
                batInfoLink.innerHTML = data['capacity'] + "% &nbsp; " + batterySvgs[batIconIndex]; // Set charge and SVG
                
                
            })
            .catch(error => {
                console.error('Error fetching bat info:', error);
            });

        }
        


        document.addEventListener('DOMContentLoaded', function() {
            updateBatteryInfo();
            fetch('/get_settings', {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                
                var toggleSwitchPcie = document.getElementById('pcie_toggle_switch');
                var toggleSwitchPass = document.getElementById('use_password_toggle_switch');
                var toggleSwitchWifiMode = document.getElementById('network_mode_toggle_switch');
                toggleSwitchPcie.checked = data["pcie-gen3-mode"];
                toggleSwitchPass.checked = data["require-pass"];
                toggleSwitchWifiMode.checked = data["wifi-mode"];
            })
            .catch(error => {
                console.error('Error fetching mode:', error);
            });
            document.getElementById('pcie_toggle_switch').addEventListener('change', function() {
                var useGen3 = this.checked ? 'true' : 'false';
                fetch('/set_settings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'pcieMode=' + useGen3
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Mode updated:', data);
                });
            });
            document.getElementById('use_password_toggle_switch').addEventListener('change', function() {
                var requrirePass = this.checked ? 'true' : 'false';
                fetch('/set_settings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'passmode=' + requrirePass
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Mode updated:', data);
                });
            });
            document.getElementById('network_mode_toggle_switch').addEventListener('change', function() {
                var apMode = this.checked ? 'true' : 'false';
                fetch('/set_settings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'netmode=' + apMode
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Mode updated:', data);
                });
            });
        });


    </script>
</body>

</html>