<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/theme.css')}}">
    <title>WPSD // Settings</title>

</head>

<body>
    <div class="min-h-screen flex flex-col">
        <header class="border-b-2 p-4">
            <div class="flex justify-between items-center">
                <a class="text-2xl font-bold" href="/">WPSD - prototype</a>
                <a class="text-xl font-bold pr-4" href="/">Home</a>
            </div>
        </header>
        <div class="flex-container flex-item">
            <div class="p-8 w-full md:flex-1">

                <h3 class='font-bold'>Settings</h3>
                <hr>
                <form method="post" enctype=multipart/form-data id="settings-form">
                    
                    <div class='w-1/2'>
                        <h3 >Power</h3>
                        <hr>
                        <div>
                            <button class="border-2 p-2 mt-2 mr-4" id="powerButtonShutdown" type="submit" name="settings-power-shutdown" value="shutdown">
                                Shutdown Device
                            </button>
                            <button class="border-2 p-2 mt-2 mr-4" id="powerButtonRestart" type="submit" name="settings-power-restart" value="restart">
                                Restart Device
                            </button>
                        </div>  
                    </div>
                    <div class='w-1/2'>
                        <h3 >General</h3>
                        <hr>
                        <div>
                            <button class="border-2 p-2 mt-2 mr-4" id="powerButtonShutdown" type="submit" name="settings-power-shutdown" value="shutdown">
                                Shutdown Device
                            </button>
                            <button class="border-2 p-2 mt-2 mr-4" id="powerButtonRestart" type="submit" name="settings-power-restart" value="restart">
                                Restart Device
                            </button>
                        </div>  
                    </div>
                    
                </form>
                
            </div>

            <div class="file-details-section p-8 w-full border-l md:flex-1">
                <h3 class='font-bold'>Help</h3>
                <hr>
                

                
            </div>

           
        </div>
    </div>

    
</body>

</html>