<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/theme.css')}}">
    <title>SkyDrive // Settings</title>
    <style>
        
        body {background-color: #0d1118;}
    
        
        
    </style>
    
    

</head>

<body>
    
    <div class="min-h-screen flex flex-col">
        <header class="border-b-2 p-4">
            <div class="flex justify-between items-center">
                <a class="text-2xl font-bold" href="/">SkyDrive</a>
                <a class="text-xl font-bold pr-4" href="/">Home</a>
            </div>
        </header>
        <div class="flex-container flex-item">
            <div class="p-8 w-full md:flex-1">

                <h3 class='font-bold'>Settings</h3>
                <hr>
                <form method="post" enctype=multipart/form-data id="settings-form">
                    
                    <div class='w-1/2'>
                        <b>Power</b>
                        <hr>
                        <div>
                            <button class="border-2 p-2 mt-2 mr-4" id="powerButtonShutdown" type="submit" name="settings-power-shutdown" value="shutdown">
                                Shutdown Device
                            </button>
                            <button class="border-2 p-2 mt-2 mr-4" id="powerButtonRestart" type="submit" name="settings-power-restart" value="restart">
                                Restart Device
                            </button>
                        </div>  
                    </div>
                    <br>
                    <div class='w-1/2'>
                        <b>General</b>
                        <hr>
                        <div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" id="pcie_toggle_switch" name="pcie" value="true" {{ useGen3Mode }}>
                                    <span class="slider round"></span>
                                </label>
                                <label for="pcie_toggle_switch" class="form-check-label">Use Experimental PCIe GEN-3 mode. (requires restart)</label>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" id="use_password_toggle_switch" name="password_switch" value="true" {{ requirePasswordOnLogin }}>
                                    <span class="slider round"></span>
                                </label>
                                <label for="use_password_toggle_switch" class="form-check-label">Require Password to use. (requires restart)</label>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" id="network_mode_toggle_switch" name="mode_switch" value="true" {{ useAPMode }}>
                                    <span class="slider round"></span>
                                </label>
                                <label for="network_mode_toggle_switch" class="form-check-label">Enable AP Mode?</label>
                            </div>
                            
                            
                        </div>
                        <br> 
                        <div>
                           
                            <table class="table-stat">
                                <thead>
                                    <tr>
                                        <th>System Info</th>
                                        <th></th>
                        
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    <tr>
                                        <td>CPU Temperature</td>
                                        <td>{{ cpuTemp }} &#176; C</td>
                                    </tr>
                                    <tr>
                                        <td>GPU Temperature</td>
                                        <td>{{ gpuTemp }} &#176; C</td>
                                    </tr>
                                    <tr>
                                        <td>SSD Storage Space</td>
                                        <td>{{ usedBytes }} / {{ totalBytes }}  ({{ usagePercent }}%)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                    
                </form>
                
            </div>

            <div class="file-details-section p-8 w-full border-l md:flex-1">
                <h3 class='font-bold'>Help</h3>
                <hr>
                <div style="margin: 2%;">
                    <p>
                        SkyDrive is a portable wireless storage device, that aims to meet the evolving data storage and accessibility needs of users in todays
                        digital world. 
                        SkyDrive offers a convenient, secure, and reliable solution for data management and accessibility for professionals, students, individuals or anyone on the go!.
                        
                        
                    </p>
                </div>
                
                <br>

                <b>SkyDrive network share (SMB)</b>
                <hr>
                <div style="margin: 2%;">
                    <p>
                        To connect to your Skydrive over SMB, map the drive at '\\skydrive\skydrive-smb' and login with the user 'pi' and your Skydrive password.
                        
                        
                    </p>
                </div>

                <br>

                
            </div>

           
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/get_settings', {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                var toggleSwitchPcie = document.getElementById('pcie_toggle_switch');
                var toggleSwitchPass = document.getElementById('use_password_toggle_switch');
                var toggleSwitchWifiMode = document.getElementById('network_mode_toggle_switch');
                toggleSwitchPcie.checked = data["pcie-gen3-mode"];
                toggleSwitchPass.checked = data["require-pass"];
                toggleSwitchWifiMode.checked = data["wifi-mode"];
            })
            .catch(error => {
                console.error('Error fetching mode:', error);
            });
            document.getElementById('pcie_toggle_switch').addEventListener('change', function() {
                var useGen3 = this.checked ? 'true' : 'false';
                fetch('/set_settings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'pcieMode=' + useGen3
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Mode updated:', data);
                });
            });
            document.getElementById('use_password_toggle_switch').addEventListener('change', function() {
                var requrirePass = this.checked ? 'true' : 'false';
                fetch('/set_settings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'passmode=' + requrirePass
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Mode updated:', data);
                });
            });
            document.getElementById('network_mode_toggle_switch').addEventListener('change', function() {
                var apMode = this.checked ? 'true' : 'false';
                fetch('/set_settings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'netmode=' + apMode
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Mode updated:', data);
                });
            });
        });


    </script>
</body>

</html>